{
  "singleQuote": true,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "trailingComma": "all",
  "semi": true,
  "printWidth": 90,
  "tabWidth": 2,
  "arrowParens": "always",
  "endOfLine": "lf",
  "bracketSameLine": false
}
